#header{
text-align: left;
font-size: 23px;
font-weight: bold;
font: Helvetica, sans-serif;
background-color: burlywood;
}

#homepage-gif{
text-align: center;
background-color: beige;

}

ul > li{
display: inline-block;
margin-left: 100px;
margin-right: 100px;
}

.homepage.list{
font-size: 23px;
text-align: center;
}